#introduction-text-box{
    position: relative;
    top:2rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    #introduction-text{
        font-family: Roboto;
        font-size: 1.5rem;
        margin-bottom: 1px;
        color:rgb(0, 0, 0);
    }
    p#introduction-text::before{
        content: '“';
        font-size: 4rem;
    }
    #B{
        font-size: 4rem;
    }
    #after-B{
        font-weight:normal;
    }
    #under-inroduction-text{
        text-align: end;
        color:rgb(0, 0, 0) ;
    }
}
#info-introduction-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
    height: 111px;
    #info-introduction-text{
        font-family: Lato;
        color: black;
    }
}
#main-text-box{
    padding: 20px;
    font-family: Noto Sans;
}
#introduction-dish-text{
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 1.4rem;
}
#dish-box{
    position: relative;
    border:2px solid;
    height: 500px;
    border-radius: 22px;
    background-image: url('./background.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* filter: blur(10px); */
}
#first-dish{
    left:22px;
    top:50px;
    border: 2px solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    img{
        width: 5rem;
        height: 5rem;
    }
}
#second-dish{
    border: 2px solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    img{
        width: 5rem;
        height: 5rem;
    }
}
#third-dish{
    border: 2px solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    img{
        width: 5rem;
        height: 5rem;
    }
}
#forth-dish{
    border: 2px solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    img{
        width: 5rem;
        height: 5rem;
    }
}
.dish{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    border:2px solid;
    height: 10rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 112, 122);
    border-radius: 30px;
} 

.dish:hover{
    transform:scale(1.01)
}

.purchase-button{
    img{
        width: 1rem;
        height: 1rem;
    }
    .purchase-button-div{
        display: flex;
        gap:7px;
        button{
            color: aliceblue;
            border-radius: 11px;
            background-color: rgb(84, 84, 219);
            cursor: pointer;
            font-size: 0.6rem;
        }
        button:hover{
            background-color: rgb(31, 31, 161);
        }
    }
}

#after-dish-text{
    font-family: Roboto;
}

.three-dots{
    /* border: 2px solid; */
    width:2rem;
    height:2rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom:10px;
    left: 50%;
    transform: translateX(-150%);
    background-color:rgb(150, 145, 145);
}

#footer-box{
    /* border-radius: 111px; */
    /* width: 100%; */
    padding: 3rem;
    background-color: rgb(26, 24, 24);
    height:100px ;
    #copyright-footer-text{
        color: rgb(255, 254, 253);
    }
}
footer{
    img{
        width:40px;
        height:40px;
        position: relative;
        top:20px;
    }
    span{
        color:rgb(66, 66, 138);
        font-family: Roboto;
        font-size: 15px;
    }
}